/* inicio globales */

@font-face {
    font-family: arlington;
    src: url(../tipografia/kaiseitokumin_regular.ttf);

}

html {

    font-size: 62.5%;
    font-family: arlington;
    background-image: linear-gradient(to right bottom, #1d2025, #1a1c21, #17191e, #14151a, #101117, #0e0f15, #0c0d14, #0a0a12, #0a0a12, #0a0a12, #0a0a12, #0a0a12);
    
}

* {

    margin: 0;
    padding: 0rem;
    box-sizing: border-box;

}

/* final globales */



/* inicio css todos los header */

header {

    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.header__titulo {

    font-size: 5.5em;
    color: #CCA67B;

}

header a img {

    height: 100%;
    max-height: 150px;
 
}

.header__logo {

    order: -5;

}

header .navegacion{

    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

header .navegacion ul {

    list-style-type: none;

}

header .navegacion ul li {

    display: inline;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 2em;
}

header .navegacion ul li a {

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    color: #CCA67B;
    background-color: #0A0A12;
    border: groove #CCA67B;
    box-shadow: -5px -5px 5px #0A0A12;
    text-decoration: none;
    transition: 1s;

}


header .navegacion ul li a:hover {

    color: #F7F0CB;
    border: inset #F7F0CB;
    background-color: #210D0E;

}


/* final css todos los header */




/* inicio css bodys */

.cuerpo__index {

    padding: 3rem;

}

.cuerpo__somos {

    display: grid;
    grid-template-columns: 2fr 1fr;

}

.cuerpo__ayuda {

    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.cuerpo__contacto {

    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.cuerpo__redes {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    
}

/* final css bodys */




/* inicio css index */

.cuerpo__index .video iframe {

    height: 600px;
    width: 1250px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

/* final css index */




/* inicio css todos h2 subtitulos */

main section .subt {

    color: #CCA67B;
    font-size: 3em;
    margin-top: 5rem;
    margin-bottom: 5rem;

}

.subt {

    color: #CCA67B;
    font-size: 3em;
    margin-top: 5rem;
    margin-bottom: 5rem;   

}

.subc{

    margin-top: 5rem;
    margin-bottom: 5rem;
    color: #CCA67B;
    font-size: 3em;
    text-align: center;

}

/* final css todos h2 subtitulos */




/* inicio css redes sociales */

.cuerpo__redes .redes ul {
    
    list-style: none;
    height: 100%;

}

.cuerpo__redes .redes ul li {

    margin-top: 10rem;
    margin-bottom: 10rem;
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 2em;
    display: inline; 
    

}

.cuerpo__redes .redes ul li a {

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #CCA67B;
    background-color: #0a0a12;
    border: groove #CCA67B;
    box-shadow: -5px -5px 5px #0A0A12;
    text-decoration: none; 
    transition: 1s;
    
}

.cuerpo__redes .redes ul li .fb:hover {

    background-color: #3A589E;
    color: #FFFFFF;
    border: inset #FFFFFF;

}

.cuerpo__redes .redes ul li .ig:hover {

    background-image: linear-gradient(to left bottom, #7a49bf, #9a41b3, #b239a4, #c43494, #d23484, #e13d77, #ec4b6b, #f35b5f, #fd7555, #ff8f4e, #ffaa4b, #ffc450);
    color: #FFFFFF;
    border: inset #FFFFFF;

}

.cuerpo__redes .redes ul li .tw:hover {

    background-color: #1DA1F2;
    color: #FFFFFF;
    border: inset #FFFFFF;

}

.cuerpo__redes .redes ul li .yt:hover {

    background-color: #FE0000;
    color: #FFFFFF;
    border: inset #F7F0CB;

}

.cuerpo__redes .redes ul li .tk:hover {

    background-color: #000000;
    color: #68C9D0;
    border: inset #EE1E52;
}

/* final css redes sociales */





/* inicio css quienes somos */

.biografia {

    padding: 5rem;
    display: grid;  
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 350px;
    text-align: center;

}

main section h3.subh {

    color: #A17452;
    font-size: 3em;
    
}

main section p {

    color: #F7F0CB;
    font-size: 1.5em;
    padding: 2rem;

}

.destacados {

    padding-top: 5rem;
    padding-right: 5rem;
    text-align: center;

}

main section a img {

    width: 80px;
    height: 80px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;

}

main section aside .subd {

    color: #A17452;
    font-size: 2em;
    display: flex;
    flex-direction: column;

}

.cuerpo__somos .destacados a img:hover {

    animation: girar 1s;

}

/* final css quienes somos */




/* inicio css quieres ayudarnos */

.ventajas {

    padding: 3rem;
    color: #F7F0CB;

}

.ventajas div p {

    padding: 0;
    font-size: 2em;
    
}

.ventajas div ul li {

    font-size: 2rem;
    padding: 2rem   ;

}

.metodos {

    padding: 2rem;
    text-align: center;

}

main section img {

    height: 120px;
    width: 120px;
    margin: 3rem 10rem;
    border-radius: 5%;

}

/* final css quieres ayudarnos */




/* inicio css contacto */ 

.cuerpo__contacto h2 {

    padding-left: 5rem;

}

main section .contacto {

    list-style-type: disc;
    padding: 2rem;

}

main section .contacto li {

    margin: 5rem;
    font-size: 2em;
    color: #CCA67B;

}

main section .contacto li a {

    color: #CCA67B;

}

.cuerpo__contacto .formulario__contacto h2 {

    padding: 0%;
    padding-bottom: 5rem;

}

.cuerpo__contacto .formulario__contacto {

    color: #CCA67B;
    text-align: right;
    display: flex;
    flex-direction: column;
}

.cuerpo__contacto .formulario__contacto form {

    color: #CCA67B;
    font-size: 2em;

}

.form1 {

    padding: 1.5rem;
    text-align: center;

}


/* final css contacto */ 





/* inicio footer */

footer  {

    height: 20vh;
    color: #CCA67B;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* final footer */




/*inicio animaciones*/

@keyframes girar {

 0% {

    transform: rotateY(0deg);

}

 50% {

    transform: rotateY(180deg);

}

 100% {

    transform: rotateY(360deg);

}

}

/* final animaciones*/




/* inicio Responsive*/

/* inicio 1600-1200 */

@media only screen and (max-width:1640px) {

header h1 {

    font-size: 4em;
    color: #CCA67B;
    
}
    
header a img {
    
    height: 100%;
    max-height: 140px;
     
}
    
header .navegacion ul li {
    
    display: inline;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.5em;

}
    
header .navegacion ul li a {
    
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    color: #CCA67B;
    background-color: #0A0A12;
    border: groove #CCA67B;
    box-shadow: -5px -5px 5px #0A0A12;
    text-decoration: none;
    transition: 1s;
    
}
    
/* final css todos los header */

/* inicio css quienes somos */

main section h3.subh {

    color: #A17452;
    font-size: 2em;
    
}

main section p {

    color: #F7F0CB;
    font-size: 1.1em;
    padding: 1.2rem;

}

main section a img {

    width: 65px;
    height: 65px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;

}

main section aside .subd {

    color: #A17452;
    font-size: 2em;
    display: flex;
    flex-direction: column;

}

/* final css quienes somos */

}

/* inicio 1600-1200 */




/* inicio 1200-1024 px */

@media only screen and (max-width:1200px) {

/* inicio css todos los header */

header h1 {

    font-size: 2.5em;
    color: #CCA67B;

}

header a img {

    height: 100%;
    max-height: 110px;
 
}

header .navegacion ul li {

    display: inline;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.5em;
}

header .navegacion ul li a {

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    color: #CCA67B;
    background-color: #0A0A12;
    border: groove #CCA67B;
    box-shadow: -5px -5px 5px #0A0A12;
    text-decoration: none;
    transition: 1s;

}

/* final css todos los header */

/* inicio css index */

.cuerpo .video iframe {

    height: 600px;
    width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    max-height: 500px;
}

/* final css index */

/* inicio css todos h2 subtitulos */

main section .subt {

    color: #CCA67B;
    font-size: 2em;
    margin-top: 5rem;
    margin-bottom: 5rem;

}

.subt {

    color: #CCA67B;
    font-size: 2em;
    margin-top: 5rem;
    margin-bottom: 5rem;   

}

.subc{

    margin-top: 5rem;
    margin-bottom: 5rem;
    color: #CCA67B;
    font-size: 2em;
    text-align: center;

}

/* final css todos h2 subtitulos */

/* inicio css quienes somos */

main section h3.subh {

    color: #A17452;
    font-size: 2em;
    
}

main section p {

    color: #F7F0CB;
    font-size: 1.3em;
    padding: 1.2rem;

}

main section a img {

    width: 65px;
    height: 65px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;

}

main section aside .subd {

    color: #A17452;
    font-size: 2em;
    display: flex;
    flex-direction: column;

}

/* final css quienes somos */

/* inicio css quieres ayudarnos */

.ventajas div p {

    padding: 0;
    font-size: 1.5em;
    
}

.ventajas div ul li {

    font-size: 1.5rem;
    padding: 2rem   ;

}

.metodos {

    padding: 2rem;
    text-align: center;

}

main section img {

    height: 90px;
    width: 90px;
    margin: 3rem 10rem;
    border-radius: 5%;

}

/* final css quieres ayudarnos */

/* inicio css contacto */ 

.cuerpo__contacto h2 {

    padding-left: 3rem;

}

main section .contacto li {

    margin: 3rem;
    font-size: 1.8em;
    color: #CCA67B;

}

.cuerpo__contacto .formulario__contacto form {

    color: #CCA67B;
    font-size: 1.5em;

}

/* final css contacto */ 

}

/* final 1200-1024 px */


/* inicio 1024-768 */

@media only screen and (max-width:1024px) {

/* inicio css todos los header */
    
header h1 {
    
    font-size: 1.8em;
    color: #CCA67B;
    
}
    
header a img {
    
    height: 100%;
    max-height: 70px;
    padding-left: 1rem;
     
}
    
header .navegacion ul li {
    
    display: inline;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.2em;
}
    
header .navegacion ul li a {
    
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    color: #CCA67B;
    background-color: #0A0A12;
    border: groove #CCA67B;
    box-shadow: -5px -5px 5px #0A0A12;
    text-decoration: none;
    transition: 1s;
    
}
    
/* final css todos los header */

/* inicio css bodys */

.cuerpo__index {


    padding: 3rem;

}

.cuerpo__somos {

  
    display: flex;
    flex-direction: column;

}

.cuerpo__ayuda {


    padding: 3rem;
    display: flex;
    flex-direction: column;

}

.cuerpo__contacto {


    padding: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.cuerpo__redes {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    
}

/* final css bodys */

/* inicio css index */
    
.cuerpo__index .video iframe {
    
    height: 500px;
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
    
/* final css index */
    
/* inicio css todos h2 subtitulos */
    
main section .subt {
    
    color: #CCA67B;
    font-size: 2.2em;
    margin-top: 5rem;
    margin-bottom: 5rem;
    
}
    
.subt {
    
    color: #CCA67B;
    font-size: 2.2em;
    margin-top: 5rem;
    margin-bottom: 5rem;   
    
}
    
    .subc{
    
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: #CCA67B;
    font-size: 2.2em;
    text-align: center;
    
}
    
/* final css todos h2 subtitulos */

/* inicio css redes sociales */

.cuerpo__redes .redes ul li {

    margin-top: 10rem;
    margin-bottom: 10rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.5em;
    display: inline; 
    

}

.cuerpo__redes .redes ul li a {

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: #CCA67B;
    background-color: #0a0a12;
    border: groove #CCA67B;
    box-shadow: -5px -5px 5px #0A0A12;
    text-decoration: none; 
    transition: 1s;
    
}

/* final css redes sociales */

/* inicio css quienes somos */
    
main section h3.subh {
    
    color: #A17452;
    font-size: 2.2em;
        
}
    
main section p {
    
    color: #F7F0CB;
    font-size: 1.5em;
    padding: 1.2rem;
    
}
    
main section a img {
    
    width: 80px;
    height: 80px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    
}
    
main section aside .subd {
    
    color: #A17452;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    
}
    
/* final css quienes somos */
    
/* inicio css quieres ayudarnos */
    
.ventajas div p {
    
    padding: 0;
    font-size: 1.5em;
        
}
    
.ventajas div ul li {
    
    font-size: 1.5rem;
    padding: 2rem;
    
}
    
.metodos {
    
    padding: 2rem;
    text-align: center;
    
}
    
main section img {
    
    height: 90px;
    width: 90px;
    margin: 3rem 10rem;
    border-radius: 5%;
    
}

/* final css quieres ayudarnos */
    
/* inicio css contacto */ 
    
.cuerpo__contacto h2 {
    
    padding-left: 3rem;
    text-align: center;
    
}

main section .contacto {

    list-style-type: none;

}

main section .contacto li {
    
    margin: 3rem;
    font-size: 1.8em;
    color: #CCA67B;

    
}
    
.cuerpo__contacto .formulario__contacto form {
    
    color: #CCA67B;
    font-size: 1.5em;
    
}
    
/* final css contacto */ 
    
}

/* final 1024-768 */




/* inicio 768-576 */

@media only screen and (max-width:768px) {

/* inicio css todos los header */

header {

    height: 25vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 13rem;

}
        
header h1 {
        
    font-size: 4em;
    color: #CCA67B;
   
}
        
header a img {
        
    height: 100%;
    max-height: 120px;
    padding-left: 1rem;
    padding-top: 2rem;
         
}
        
header .navegacion ul li {
        
    display: inline;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.2em;
}
        
header .navegacion ul li a {
        
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: #CCA67B;
    background-color: #0A0A12;
    border: groove #CCA67B;
    box-shadow: -5px -5px 5px #0A0A12;
    text-decoration: none;
    transition: 1s;
        
}
        
/* final css todos los header */
    
/* inicio css bodys */
    
.cuerpo__index {
    
    padding: 3rem;
    
}
    
.cuerpo__somos {
    
    display: flex;
    flex-direction: column;
    
}
    
.cuerpo__ayuda {
    
    padding: 3rem;
    display: flex;
    flex-direction: column;
    
}
    
.cuerpo__contacto {
       
    padding: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
        
}
    
.cuerpo__redes {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
        
}
    
/* final css bodys */
    
/* inicio css index */
        
.cuerpo__index .video iframe {
        
    height: 400px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
        
/* final css index */
        
/* inicio css todos h2 subtitulos */
        
main section .subt {
        
    color: #CCA67B;
    font-size: 1.8em;
    margin-top: 5rem;
    margin-bottom: 5rem;
        
}
        
.subt {
        
    color: #CCA67B;
    font-size: 1.8em;
    margin-top: 5rem;
    margin-bottom: 5rem;   
        
}
        
.subc{
        
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: #CCA67B;
    font-size: 1.8em;
    text-align: center;
        
}
        
/* final css todos h2 subtitulos */
    
/* inicio css redes sociales */
    
.cuerpo__redes .redes ul li {
    
    margin-top: 10rem;
    margin-bottom: 10rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.2em;
    display: inline; 
        
    
}
    
.cuerpo__redes .redes ul li a {
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: #CCA67B;
    background-color: #0a0a12;
    border: groove #CCA67B;
    box-shadow: -5px -5px 5px #0A0A12;
    text-decoration: none; 
    transition: 1s;
        
}
    
/* final css redes sociales */
    
/* inicio css quienes somos */

.destacados {

    padding: 0%;

}
        
main section h3.subh {
        
    color: #A17452;
    font-size: 1.8em;
            
}
        
main section p {
        
    color: #F7F0CB;
    font-size: 1.2em;
    padding: 1rem;
        
}
        
main section a img {
        
    width: 60px;
    height: 60px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
        
}
        
main section aside .subd {
        
    color: #A17452;
    font-size: 1.8em;
    display: flex;
    flex-direction: column;
        
}
        
/* final css quienes somos */
        
/* inicio css quieres ayudarnos */
        
.ventajas div p {
        
    padding: 0;
    font-size: 1.2em;
            
}
    
.ventajas div ul li {
        
    font-size: 1.2rem;
    padding: 2rem;
        
}
        
.metodos {
        
    padding: 2rem;
    text-align: center;
        
}
        
main section img {
        
    height: 70px;
    width: 70px;
    margin: 3rem 10rem;
    border-radius: 5%;
        
}
    
/* final css quieres ayudarnos */

        
/* inicio css contacto */ 
        
.cuerpo__contacto h2 {
        
    padding-left: 3rem;
    text-align: center;
        
}
    
main section .contacto {
    
    list-style-type: none;
    
}
    
main section .contacto li {
        
    margin: 3rem;
    font-size: 1.5em;
    color: #CCA67B;
          
}
        
.cuerpo__contacto .formulario__contacto form {
        
    color: #CCA67B;
    font-size: 1.2em;
        
}
        
/* final css contacto */ 

/* inicio footer */

footer  {

    height: 20vh;
    color: #CCA67B;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* final footer */
        
}

/* final 768-576 */




/* inicio 576-320 */

@media only screen and (max-width:576px) {

/* inicio css todos los header */
    
header {
    
    height: 25vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20  rem;
    
}
            
header h1 {
            
    font-size: 2.5em;
    color: #CCA67B;
       
}
            
header a img {
            
    height: 100%;
    max-height: 80px;
    padding-left: 1rem;
    padding-top: 1rem;
             
}
            
header .navegacion ul li {
            
    display: inline;
    font-size: 0.7em;

}
            
header .navegacion ul li a {
            
    padding-top: 0.4px;
    padding-bottom: 0.4px;
    padding-left: 0.4px;
    padding-right: 0.5px;
    color: #CCA67B;
    background-color: #0A0A12;
    border: groove #CCA67B;
    box-shadow: -5px -5px 5px #0A0A12;
    text-decoration: none;
    transition: 1s;
            
}
            
/* final css todos los header */
        
/* inicio css bodys */
        
.cuerpo__index {
        
    padding: 3rem;
        
}
        
.cuerpo__somos {
        
          
    display: flex;
    flex-direction: column;
        
}
        
.cuerpo__ayuda {
        
        
    padding: 3rem;
    display: flex;
    flex-direction: column;
        
}
        
.cuerpo__contacto {
            
    padding: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
            
}
        
.cuerpo__redes {
        
    display: flex;
    flex-direction: column;

    height: 70vh;
            
}
        
/* final css bodys */
        
/* inicio css index */
            
.cuerpo__index .video iframe {
            
    height: 400px;
    width: 260px;
    display: block;
    margin-left: auto;
    margin-right: auto;
        
}
            
/* final css index */
            
/* inicio css todos h2 subtitulos */
            
main section .subt {
            
    color: #CCA67B;
    font-size: 1.8em;
    margin-top: 5rem;
    margin-bottom: 5rem;
            
}
            
.subt {
            
    color: #CCA67B;
    font-size: 1.8em;
    margin-top: 5rem;
    margin-bottom: 5rem;   
            
}
            
.subc{
            
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: #CCA67B;
    font-size: 1.8em;
    text-align: center;
            
}
            
/* final css todos h2 subtitulos */
        
/* inicio css redes sociales */
        
.cuerpo__redes .redes ul li {
        
    margin-top: 10rem;
    margin-bottom: 10rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.5em; 
    display: block;
                
}
        
.cuerpo__redes .redes ul li a {
        
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: #CCA67B;
    background-color: #0a0a12;
    border: groove #CCA67B;
    box-shadow: -5px -5px 5px #0A0A12;
    text-decoration: none; 
    transition: 1s;
            
}
        
/* final css redes sociales */
        
/* inicio css quienes somos */
    
.destacados {
    
    padding: 0%;
    
}
            
main section h3.subh {
            
    color: #A17452;
    font-size: 1.8em;
                
}
            
main section p {
            
    color: #F7F0CB;
    font-size: 0.8em;
    padding: 1rem;
    padding-bottom: 10rem;
            
}
            
main section a img {
            
    width: 60px;
    height: 60px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
            
}
            
main section aside .subd {
            
    color: #A17452;
    font-size: 1.8em;
    display: flex;
    flex-direction: column;
            
}
            
/* final css quienes somos */
            
/* inicio css quieres ayudarnos */
            
.ventajas div p {
            
    padding: 0;
    font-size: 1.2em;
                
}
        
.ventajas div ul li {
        
    font-size: 1.2rem;
    padding: 2rem;
            
}
            
.metodos {
            
    padding: 2rem;
    text-align: center;
            
}
            
main section img {
            
    height: 70px;
    width: 70px;
    margin: 3rem 10rem;
    border-radius: 5%;
            
}
        
/* final css quieres ayudarnos */
            
/* inicio css contacto */ 
            
.cuerpo__contacto h2 {
            
    padding-left: 3rem;
    text-align: center;
            
}
        
main section .contacto {
        
    list-style-type: none;
        
}
        
main section .contacto li {
            
    margin: 3rem;
    font-size: 1.5em;
    color: #CCA67B;
              
}
            
.cuerpo__contacto .formulario__contacto form {
            
    color: #CCA67B;
    font-size: 1em;
            
}
            
/* final css contacto */ 
    
/* inicio footer */
    
footer {
    
    height: 20vh;
    color: #CCA67B;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
    
/* final footer */
            
}
    
/* final 576-320 */
    

/* final responsive */


