/* inicio index */

.cuerpo__index {

    padding: 3rem;
    height: 1050px;

    .video {

        iframe {

            height: 600px;
            width: 1250px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        
        }

    } 

    h2 {

        text-align: center;

    }

    p {

        color: #F7F0CB;
        font-size: 1.5em;
        padding: 5rem;

    }


}


@media only screen and (max-width:1640px) {

.cuerpo__index {

    padding: 3rem;
    
    .video {
    
        iframe {
    
            height: 600px;
            width: 1150px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            
        }
    
    } 
    
}

}

@media only screen and (max-width:1200px) {

.cuerpo__index {

    padding: 3rem;
        
    .video {
        
        iframe {
        
            height: 600px;
            width: 970px;
            display: block;
            margin-left: auto;
            margin-right: auto;
                
        }
        
    } 

    p {

        font-size: 1.4rem;

    }
        
}

}

@media only screen and (max-width:1024px) {

.cuerpo__index {

    padding: 3rem;
            
    .video {
            
        iframe {
            
            height: 600px;
            width: 715px;
            display: block;
            margin-left: auto;
            margin-right: auto;
                    
        }
            
    } 

    p {

        font-size: 1.2rem;

    }
            
}

}

@media only screen and (max-width:768px) {

.cuerpo__index {

    height: 920px;
    padding: 3rem;
                
    .video {

        padding-top: 10rem;
                
        iframe {
                
            height: 400px;
            width: 520px;
            display: block;
            margin-left: auto;
            margin-right: auto;
                        
        }
                
    } 


    p {

        font-size: 1.1rem;

    }
                
}
    
}

/* Tamaño celular */

@media only screen and (max-width:578px) {

.cuerpo__index {

    padding: 1rem;
    height: 650px;
    padding-top: 0%;
                    
    .video {

        padding-top: 0%;
                    
        iframe {
                

            height: 320px;
            width: 300px;
            display: block;
            margin-left: auto;
            margin-right: auto;
                            
        }
                    
    } 

    p {

        padding: 0;
        font-size: 1rem;
    
    }
                    
}

}